{% extends "base_generic.html" %} {% block content %}
<div class="container rounded main-color">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 text-center text-light">
      <!-- Your centered content goes here -->
        <h1>Thank You For Your Application!</h1>
        <h3><i>Your application has been sent successfully. Wait for response from the organizer</i></h3>
        <a href="{% url 'index' %}" class="btn btn-primary">Return to Home Page</a>

    </div>
  </div>
</div>
{% endblock %}