{% extends "base_generic.html" %} {% block content %}
<p>ID: {{ event.id }}</p>
<p>Title: {{ event.title }}</p>
<p>Available Tickets: {{ event.available_tickets }}</p>
<p>Description: {{ event.description }}</p>
<p>Image (Local URL): {{ event.image }}</p>
<form method="post" action="{% url 'buy_ticket' event.id %}">
        {% csrf_token %}
        <label for="number_of_tickets">Number of Tickets</label>
        <input id="number_of_tickets" type="number" name="number_of_tickets" required>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}