{% extends "base_generic.html" %} {% block content %}
<style>
    .border-bottom-white {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid white;
        outline: none;
    }
    
    .form-control.bg-transparent.border-bottom-white {
        caret-color: white;
        color: white;
    }
    
    .form-group label {
        color: white;
    }
    
    .js-example-basic-multiple {
        color: white;
    }
</style>
<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="main-color rounded mt-4 text-center py-4 col-md-10">
            <h3 class="text-light">Create New Event</h3>
            <form class="row p-5" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="title">Title:</label>
                        <input id="title" name="title" type="text" class="form-control bg-transparent border-bottom-white">
                    </div>
                    <div class="form-group">
                        <label for="date">Date:</label>
                        <input id="date" name="date" type="datetime-local" class="form-control bg-transparent border-bottom-white">
                    </div>
                    <div class="form-group">
                        <label for="description">Description:</label>
                        <input id="description" name="description" type="text" class="form-control bg-transparent border-bottom-white">
                    </div>
                    <div class="form-group">
                        <label for="location">Location:</label>
                        <input id="location" name="location" type="text" class="form-control bg-transparent border-bottom-white">
                    </div>
                    <div class="form-group">
                        <label for="image">Image:</label>
                        <input type="file" name="image" class="form-control bg-transparent border-bottom-white">
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="form-group">
                        <label for="artists">Add artists to event:</label>
                        <select id="artists" class="js-example-basic-multiple form-control bg-transparent border-bottom-white" name="artists[]" multiple="multiple">
                    {% for user in artists %}
                        <option value="{{ user.id }}">{{ user.username }}</option>
                    {% endfor %}
                </select>
                    </div>
                    <div class="form-group">
                        <label for="ticketsNum">Number of Tickets:</label>
                        <input id="ticketsNum" name="ticketsNum" type="number" class="form-control bg-transparent border-bottom-white">
                    </div>
                    <div class="form-group">
                        <label for="ticketsPrice">Ticket Price:</label>
                        <input id="ticketsPrice" name="ticketsPrice" type="number" min=10 value=10 class="form-control bg-transparent border-bottom-white">
                    </div>
                </div>
            </form>
            <div class="row justify-content-center">
                <button class="mt-2 btn btn-outline-danger mx-3" data-toggle="modal" data-target="#confirmModal">Cancel</button>
                <button class="mt-2 btn btn-outline-light mx-3" type="submit" value="Create Event">Create Event</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark" style="border-radius: 1rem;">
            <div class="modal-body">
                <div class="container d-flex rounded-lg justify-content-center align-content-center">
                    <div class="p-2 text-center">
                        <h4 class="text-light">Are you sure you want to cancel this?</h4>
                        {% csrf_token %}
                        <span class="text-danger">Warning:</span><span class="text-muted"> All progress will be lost.</span>
                        <div class="d-flex justify-content-around mt-4">
                            <button class="btn float-right px-3 btn-outline-danger" onclick="closeModal()">No, I do not want to cancel.</i></button>
                            <a id="confirm" class="btn float-right px-3 btn-outline-light" href="{% url 'index' %}">Yes, I am sure.</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}