{% extends "base_generic.html" %} {% block content %}
<style>
    .border-bottom-white {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid white;
        outline: none;
    }
    
    .form-control.bg-transparent.border-bottom-white {
        caret-color: white;
        color: white;
    }
</style>
<div class="container mx-auto">
    <div class="row justify-content-center">
        <div class="main-color rounded mt-4 text-center text-light col-md-8 py-5">
            <h3>Application for {{ event.title }}</h3>
            <form class="py-3 col-md-8 mx-auto" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="occupation">Occupation:</label>
                    <input id="occupation" name="occupation" type="text" class="form-control bg-transparent border-bottom-white" required>
                </div>
                <div class="form-group">
                    <label for="cv">CV:</label>
                    <div>
                        <input type="file" id="cv" name="cv" class="text-white form-control bg-transparent border-bottom-white" required>
                    </div>
                </div>
                <div class="form-group">
                    <label for="motivation">Motivation:</label>
                    <input type="text" id="motivation" name="motivation" class="form-control bg-transparent border-bottom-white" required>
                </div>
                <div class="form-group">
                    <label for="phone_num">Phone number:</label>
                    <input type="text" id="phone_num" name="phone_num" class="form-control bg-transparent border-bottom-white" required>
                </div>
                <div class="row justify-content-around">
                    <button class="mt-2 btn btn-outline-danger" data-toggle="modal" data-target="#confirmModal">Cancel</button>
                    <button class="mt-2 btn btn-outline-light" type="submit" value="Apply">Apply</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark" style="border-radius: 1rem;">
            <div class="modal-body">
                <div class="container d-flex rounded-lg justify-content-center align-content-center">
                    <div class="p-2 text-center">
                        <h4 class="text-light">Are you sure you want to cancel this?</h4>
                        {% csrf_token %}
                        <span class="text-danger">Warning:</span><span class="text-muted"> All progress will be lost.</span>
                        <div class="d-flex justify-content-around mt-4">
                            <button class="btn float-right px-3 btn-outline-danger" onclick="closeModal()">No, I do not want to cancel.</i></button>
                            <a id="confirm" class="btn float-right px-3 btn-outline-light" href="{% url 'index' %}">Yes, I am sure.</i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}