{% extends "base_generic.html" %} {% block content %}
<div class="container rounded main-color">
    <div class="row justify-content-center align-items-center" style="min-height: 50vh;">
        <div class="col-md-8 py-5 text-center text-light">
            <h2>Welcome to Artégé!</h2>
            <h4>LinkedIn for the music industry</h4>
            <div id="accordion" class="my-5">
                <div class="card bg-transparent">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-light" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Making this app
                      </button>
                        </h5>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            This functional prototype was made by a small team of Software Engineering students at FINKI, Skopje 2023. It is the final project of the Human-Computer Interaction Design course. Our team (Team 6) consists of Aleksandar Radulovski (201518), Stefani Kulebanova
                            (201526) and Mario Petkoski (201534). The goal of this app is to showcase a potential design solution for an app aiming to provide a platform for emerging artists on a local scene. Its sole focus lies in the UI and UX design,
                            optimising as much as possible from a visual standpoint, adhering to set heuristics and implementing peer-proposed fixes to our initial design.
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-light" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Using the app
                      </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            Although this application's main goal is creating an appropriate, creative and minimalistic design, it also incorporates some of the mandatory functionality of the full, production-grade application it aims to be a prototype of. These include specific
                            artist, organizer and guest user profiles, each with specific permissions, tailored to the proposed use-cases. Namely, a guest user can only buy tickets to the events that interest them, while artists can also apply to the
                            events they wish to participate in. Organizers are the people who can create events as well as review and accept or deny artists' applications for their events.
                        </div>
                    </div>
                </div>
                <div class="card bg-transparent">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed text-light" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        User accounts
                      </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            In order to aid the grading process as well as any visitor who wants to browse this application in depth, we have already provided publically usable accounts. The username and password combinations are given in the /artists and /organizers pages, with
                            the log-in credentials given instead of their biography sections. Feel free to register with your own unique username and password combination, and choose on your own whether you would like to register as an artist or as an
                            event organizer. Please note however, that the 'Forgot password' functionality has not been implemented and we would not be able to assist you in recovery.
                        </div>
                    </div>
                </div>
            </div>
            <a href="{% url 'index' %}" class="btn rounded whited">Browse events</a>
        </div>
    </div>
</div>
{% endblock %}