{% extends "base_generic.html" %} {% block content %}
<div class="container mt-4 card-group mx-5 align-content-center">
{% for app in applications %}
    <div class="card">
        <h5 class="card-header">Application for: {{ app.event.title }}</h5>
        <div class="card-body">
            <h5 class="card-title">Status: <span id="status">{{ app.status }}</span></h5>
            <p class="card-text">Date applied: {{ app.date }}</p>
        </div>
    </div>
    {% endfor %}
 </div>
{% endblock %}