{% extends "base_generic.html" %} {% block content %}
<form action="{% url 'search_org' %}" class="mb-2 d-flex justify-content-center" method="POST"
      {% csrf_token %}
          <div class="input-group rounded" style="max-width: 220px;">
              <input type="search" class="form-control rounded" placeholder="Search by name" name="search" aria-label="Search" aria-describedby="search-addon" />
              <button class="input-group-text border-0" id="search-addon">
                <i class="bi bi-search"></i>
              </button>
          </div>
    </form>
<div class="container mt-5">
    <div class="row row-cols-1 row-cols-lg-2 g-4">
        {% for organizer in organizers %}
        <div class="col mb-4">
            <div class="card h-100" style="box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;">
                <div class="row no-gutters">
                    <div class="col-md-5 d-flex flex-column justify-content-center pt-2">
                        <h5 class="card-title text-center">{{ organizer.username }}</h5>
                        <img src="{{ organizer.image.url }}" class="card-img" alt="{{ organizer.username }}">
                    </div>
                    <div class="col-md-7">
                        <div class="card-body d-flex flex-column h-100">
                            <div class="card-text mt-4" style="max-height: 100px; overflow-y: auto;">
                                {{ organizer.bio }}
                            </div>
                            <br>
                            <a class="btn rounded main-color p-0 text-white mt-auto" style="width: 100%;" href="{% url 'profile' organizer.id %}">Go to organizer's profile page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}