{% extends "base_generic.html" %} {% block content %}
<div class="container">
    <div class="row rounded mt-1 d-flex justify-content-center align-items-center main-color">
        <div class="col">
            <div class="card border-0">
                <div class="px-4 text-white d-flex justify-content-center align-items-end bg-dark">
                    <div class="col mt-3 text-center pr-0">
                        <img class="img-fluid float-right pr-0 profile" src="{{MEDIA.URL}}{{user.image.url}}" style="max-width: 70%; margin-bottom: -10%;" alt="Profile Image">
                    </div>
                    <div class="col ms-3">
                        <h5>{{ user.first_name }} {{user.last_name }}</h5>
                        {% if user.is_artist %}
                        <p>Artist</p>
                        {% else %}
                        <p>Organizer</p>
                        {% endif %}
                    </div>
                </div>
                <div class="p-4 text-black d-flex justify-content-center" style="background-color: #F5F5F5;">
                    <div class="d-flex justify-content-end text-center py-1">
                        <div>
                            <p class="mb-1 h5">{{ posts.count }}</p>
                            <p class="small text-muted mb-0">Posts</p>
                        </div>
                        <div class="px-3">
                            <p class="mb-1 h5">{{ event_num }}</p>
                            <p class="small text-muted mb-0">Events</p>
                        </div>
                    </div>
                </div>
                <div class="card-body p-4 text-black">
                    <div class="mb-5 text-center">
                        <p class="lead fw-normal mb-1 text-center main-text">About</p>
                        <div class="p-4 light-grey" style="background-color: #F5F5F5; border-radius: 1rem;">
                            <p class="font-italic mb-1">{{ user.bio }}</p>
                        </div>
                    </div>
                    <div class="mb-2">
                        <p class="lead fw-normal mb-0 text-center main-text">Recent posts</p>
                    </div>
                    <div class="">
                        <button type="button" class="btn main-color float-right mt-n4" data-toggle="modal" data-target="#exampleModal">
                        Add new post <i class="bi bi-plus-circle"></i>
                        </button>
                        </br>
                        {% if posts is not None %} {% for post in posts %}
                         <div class="card mx-5 p-3 mt-3" style="border-radius: 1rem;">
                            <div class="card-header pb-2">
                                <small class="text-muted float-right">{{post.date}}</small>
                                <p class="mb-0">{{post.description}}</p>
                            </div>
                            <div class="card-body p-3">
                                {% if post.extension == "jpg" or "jpeg" or "png" %}
                                <img src="{{ MEDIA_URL }}{{ post.file.url }}" class="card-img-top img-fluid" alt="Cover image" style="max-width: 100%; height: auto;">
                                {% elif post.extension == "" %}
                                <video></video>
                                {% endif %}
                            </div>
                         </div>
                    </div>
                        {% endfor %}
                        {% else %}
                        <p class="text-center">No posts yet.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content main-color" style="border-radius: 1rem;">
             <div class="modal-body">
                <div class="container d-flex rounded-lg justify-content-center align-content-center">
                    <form class="main-color p-2" action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
                        <h4 class="text-center">Add post<button class="btn btn-lg float-right p-0" type="submit"><i class="bi bi-plus-circle"></i></button></h4>
                        {% csrf_token %}
                        <div class="form-outline mb-4 mt-4">
                            <label class="form-label" for="file">Upload File</label>
                            <input type="file" id="file" name="file" class="form-control" />
                        </div>
                        <div class="form-outline mb-4">
                            <textarea class="form-control" id="descr" name="descr" rows="4" placeholder="Description"></textarea>
                        </div>
                    </form>
                </div>
                </div>
            </div>
    </div>
</div>
{% endblock %}