{% extends "base_generic.html" %} {% block content %}

<div class="container rounded main-color">
  <div class="row justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="col-md-6 text-center text-light">
      <!-- Your centered content goes here -->
        <h1>Thank You For Your Purchase!</h1>
        <h3>Your tickets can be found in the <i>My Tickets</i> section</h3>
        <a href="{% url 'index' %}" class="btn gold rounded">Return to Home Page</a>

    </div>
  </div>
</div>
{% endblock %}