.gold {
    background-color: #D4AF40;
    max-width: 115px;
}

.main-color {
    background-color: #35706F;
}

.whited {
    background-color: #D9D9D9;
}

.dark {
    background-color: #273230;
}

.grey {
    background-color: #e3e3e3;
}

.round-card {
    border-radius: 15px;
}

.main-text {
    color: #35706F;
}

.apply {
    background-color: #D35E57;
}